<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AQI</title>
  </head>
  <body>
    <div class="content">
      <h1 style="text-align: center">Search Air Quality for any city</h1>
      <h2>Get your api key from https://aqicn.org/data-platform/token/</h2>
      <div class="form">
        <form action="/aqiApp" method="POST">
          <label for="city">City:</label>
          <input type="text" name="city" id="city" />
          <label for="key">API KEY</label>
          <input type="text" name="key" id="key" />
          <button type="submit" value="search">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
